body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', Arial, sans-serif;
    background: #fafafa;
    color: #222;
}

header {
    padding-top: 18px;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav.menu a:hover {
    color: #222;
}

nav.menu {
    background-color: #fc7d07;
    padding: 5px 0px;
    margin: 0;
    padding-left: 0;
}

nav.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

nav.menu ul a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.hero {
    text-align: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 61%;
    background: rgba(0, 0, 0, 0.38);
    /* negro semitransparente */
    z-index: 1;
}

.hero img {
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center 46%;
}

section.hero figure {
    margin: 0;
    padding: 0;
}

.hero h1,
.hero p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 12px #000;
    width: 100%;
    z-index: 2;
}

.hero h1 {
    top: 40%;
    font-size: 3.5em;
    font-weight: bold;
    color: #ff8500;
}

.hero p {
    top: 58%;
    font-size: 2em;
}

section.hero,
.hero h1,
.hero p {
    margin-top: -6.5%;
    max-width: 100%;
}

table {
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: auto;
}

caption {
    caption-side: top;
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    color: #fc7d07;
    letter-spacing: 1px;
}

th,
td {
    padding: 14px 12px;
    text-align: left;
}

th {
    background: #fc7d07;
    color: #fff;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    border-bottom: 3px solid #d16a04;
}

td.last-day {
    border-bottom: 1px;
}

tr.last-day td {
    border-bottom: 1px;
}

tr:nth-child(even) td {
    background: #f9f9f9;
}

tr:nth-child(odd) td {
    background: #fff;
}

tr:hover td {
    background: #ffe5c2;
    transition: background 0.15s;
}

td {
    border-bottom: 1px solid #eee;
    font-size: 1em;
}